@use '/src/mainColor' as *;

.light-mode {
  .me_page-stats-drill {
    --title-filter: contrast(1.2);
    --barcolor: #{mainColor(94%)};
  }
}
.dark-mode {
  .me_page-stats-drill {
    --title-filter: brightness(1.2);
    --barcolor: #{mainColor(20%)};
  }
}

.me_page-stats-drill {
  padding-top: 0;

  .filter-bar {
    margin: .5em 0;

    .select {
      border: var(--border);
    }
  }

  .title-top {
    filter: var(--title-filter);
    padding-left: .5em;
    padding-right: .5em;
    border-radius: .5em;
  }

  .graph-con {
    
    .bar {
      --bar-color: var(--barcolor);
    }

    .title {
      background: none;
    }
  }
}