@use '/src/mainColor' as *;

.App {
  height: 100vh;
  display: grid;
  // grid-template-rows: var(--headerHeight) 1fr;
  grid-template-rows: auto 1fr;

  --headerHeight: 4em;
  --cubik: cubic-bezier(0.175, 0.885, 0.32, 1);

  --main-hue: 220deg;
  
  &.light-mode {
    color: #000;
    --color: #000;
    background-image: linear-gradient(0deg, mainColor(100%), mainColor(90%));
    
    --light-img-filter: brightness(0) invert(87%) sepia(18%) saturate(245%) brightness(50%) 
      contrast(100%) 
      hue-rotate(-40deg) 
      hue-rotate(var(--main-hue));
    --main-satur: 40%;
    --main-hs: var(--main-hue), var(--main-satur);    
    --title-back: #{mainColor(90%)};
    --title-top-back: #{mainColor(88%)};
    --title-top-color: #{mainColor(10%)};
    --title-bright-filter: contrast(1.2) brightness(.95);
    --tool-back: #fff;

    .img-black {
      filter: brightness(0) invert(.2);
    }
    .img-gray {
      filter: brightness(0) invert(.8);
    }
  }
  &.dark-mode {
    color: #eee;
    --color: #eee;
    background-image: linear-gradient(0deg, mainColor(15%), mainColor(10%));
    
    --main-satur: 13%;
    --main-hs: var(--main-hue), var(--main-satur);    
    --title-back: #{mainColor(20%)};
    --title-top-back: #{mainColor(15%)};
    --title-top-color: #{mainColor(100%)};
    --title-bright-filter: brightness(1.2);
    --tool-back: #000;

    .img-black {
      filter: brightness(0) invert(1);
    }
    .img-gray {
      filter: brightness(0) invert(.6);
    }
    .darkmode-invert {
      filter: invert(1);
    }
  }  
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// titles

.title {
  text-align: center;
  font-weight: normal;
  width: fit-content;
  margin: 1em auto;
  padding: .25em .5em;
  border-radius: .5em;
  max-width: 95%;
  background: var(--title-back);
}

.title-top {
  width: 100%;
  font-weight: normal;
  text-align: center;
  margin: .5em auto;
  margin-top: 0;
  padding: .4em 0;
  background-color: var(--title-top-back);
  color: var(--title-top-color);

  &.bright {
    filter: var(--title-bright-filter);
  }
}

// modals

.modals {
  z-index: 999;
}

// hover tooltips

[tool-bottom], [tool-top] {
  position: relative;
  overflow: visible !important;

  &::after {
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    padding: .2em .5em;
    border-radius: .5em;
    background: var(--tool-back);
    border: 1px solid #999;
    transition: opacity .2s, transform .2s;

  }
}

[tool-bottom] {

  &::after {
    top: 100%;
    content: attr(tool-bottom);
    transform: translate(-50%, -10%);
  }

  &:hover::after {
    transform: translate(-50%, 20%);
    opacity: 1;
  }
}


[tool-top] {

  &::after {
    bottom: 100%;
    content: attr(tool-top);
    transform: translate(-50%, 10%);
  }
  
  &:hover::after {
    transform: translate(-50%, -20%);
    opacity: 1;
  }
}

// material-UI 

.MuiSkeleton-root {
  background-color: mainColor(50%, .1) !important;

  &.MuiSkeleton-rectangular {
    border-radius: .5em;
  }
}

.MuiCircularProgress-root {
  color: mainColor(50%) !important;
}

.light-mode {
  .MuiLinearProgress-root {
    background-color: mainColor(80%) !important;
  }
}

.dark-mode {
  .MuiLinearProgress-root {
    background-color: mainColor(20%) !important;
  }

  .MuiToggleButton-root {
    border-color: #333;
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.04);
    }

    &.Mui-selected {
      background-color: rgba(255, 255, 255, 0.08);

      &:hover {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }
  }
}

.MuiLinearProgress-root {
  transform: scaleX(-1);
}

.MuiLinearProgress-bar {
  background-color: mainColor(50%) !important;
}

.MuiToggleButton-root {
  transition: background-color .2s;
}

// react-select

.light-mode {
  [class*="-multiValue"] {
    background-color: mainColor(90%);
  }
}

.dark-mode {
  [class*="-multiValue"] {
    color: #fff;
    background-color: mainColor(20%);
  }
  [class*="-menu"] {
    background-color: mainColor(10%);
  }
}

// react-query 

.ReactQueryDevtoolsPanel {
  direction: ltr !important;
  * {
    direction: ltr !important;
  }
}

// react-hot-toast 

.dark-mode {
  .toast {
    color: #fff;
    background-color: mainColor(5%);
  }
}