@use '/src/mainColor' as *;

.light-mode {
  .area-form {
    .color-input {
      --input-back: #{mainColor(60%)};
      
      .color-picker {
        --preview-shadow: 0 0 1em #ddd;
        --preview-back: linear-gradient(0deg, #{mainColor(100%)}, #{mainColor(90%)});
        --preview-header-back: linear-gradient(0deg, #{mainColor(97%)}, #{mainColor(95%)});
      }
    }
  }
}
.dark-mode {
  .area-form {
    .color-input {
      --input-back: #{mainColor(30%)};
      
      .color-picker {
        --preview-shadow: 0 0 1em #111;
        --preview-back: linear-gradient(0deg, hsla(var(--main-hs), 15%, 1), hsla(var(--main-hs), 10%, 1));
        --preview-header-back: linear-gradient(0deg, #{mainColor(10%)}, #{mainColor(5%)});
      }
    }
  }
}

.area-form {

  .top {
    padding-top: .25em;
    padding-bottom: .5em;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inputs {
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .color-input {
      flex-shrink: 0;
      display: inline-block;
      max-width: unset;
      box-sizing: content-box;
      --size: 1.5em;
      height: var(--size);
      width: var(--size);
      border-radius: 50%;
      background: var(--input-back);
  
      .color-picker {
        padding: .5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        .react-colorful {
          margin-top: 1em;
          width: 10em;
        }
    
        .preview-color {
          overflow: hidden;
          height: 10em;
          width: 10em;
          border-radius: 1em;
          box-shadow: var(--preview-shadow);
          background: var(--preview-back);
    
          .preview-header {
            width: 100%;
            height: 1em;
            background: var(--preview-header-back);
          }
        }
      }
    }
  
    .react-input {
      margin: 0 .5em;
      font-size: 1.4em;
    }
  }
  
  .buttons {
    margin-right: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

}