@use '/src/mainColor' as *;

.light-mode {
  .filter-bar {
    --select-back: #{mainColor(96%)};
    --select-back-2: #{mainColor(98%)};
    --select-back-3: #{mainColor(100%)};
    --select-border: 1px solid #{mainColor(90%)};
    --filled-shadow: 0 0.5em 0.5em #{mainColor(50%, 0.1)};
  }
}
.dark-mode {
  .filter-bar {
    --select-back: #{mainColor(8%)};
    --select-back-2: #{mainColor(6%)};
    --select-back-3: #{mainColor(2%)};
    --select-border: none;
    --filled-shadow: none;
  }
}

.filter-bar {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 0.5em;
  padding: 0.5em;
  padding-bottom: 0.3em;
  border-radius: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .select {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
    margin: 0.2em;
    padding: 0 0.5em;
    border-radius: 0.5em;
    background-color: var(--select-back);
    border: var(--select-border);
    transition: box-shadow 0.5s, transform 0.15s, background-color 0.15s;

    &:focus-within {
      z-index: 1;
    }

    &:hover,
    &:active,
    &:focus-within {
      --select-back: var(--select-back-2);
    }

    &.filled {
      --select-back: var(--select-back-3);
      box-shadow: var(--filled-shadow);
      transform: translateY(-3px);
    }
  }

  .reset-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 0.2em;
    padding: 0 0.5em;
    height: 2.5em;
    border-radius: 0.5em;
    background-color: var(--select-back);
    border: var(--select-border);
    transition: background-color 0.15s;

    &:hover,
    &:active,
    &:focus-within {
      --select-back: var(--select-back-2);
    }
  }
}
