@use '/src/mainColor' as *;

.light-mode {
  .table-list {
    --li-back: linear-gradient(#{mainColor(97%)}, #{mainColor(99%)});
    --li-border: 1px solid #{mainColor(90%)};
    --li-shadow: 0 .5em 1em #{mainColor(85%, .5)};
    --li-hover-filter: brightness(0.95);
    --title-shadow: 0 .25em .5em #{mainColor(40%, .15)};
    --title-back: repeating-linear-gradient(
      -45deg,
      #{mainColor(96%)},
      #{mainColor(96%)} 10px,
      #{mainColor(95%)} 10px,
      #{mainColor(95%)} 30px
    );
    --dd-colored-lighness: 70%;
    --dd-colored-filter: contrast(1.8);
  }
}

.dark-mode {
  .table-list {
    --li-back: #{mainColor(15%)};
    --li-border: 1px solid #{mainColor(10%)};
    --li-shadow: 0 .5em 1em #{mainColor(10%, .5)};
    --li-hover-filter: brightness(1.1);
    --title-shadow: 0 .25em .5em #{mainColor(5%, .5)};
    --title-back: repeating-linear-gradient(
      -45deg,
      #{mainColor(14%)},
      #{mainColor(14%)} 10px,
      #{mainColor(13%)} 10px,
      #{mainColor(13%)} 30px
    );
    --dd-colored-lighness: 44%;
  }
}

.table-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    margin: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35em;
  }

  li {
    overflow: auto;
    max-width: 100%;
    margin: 0;
    margin: 1em 0;
    border-radius: 1em 1em .5em .5em;
    background: var(--li-back);
    box-shadow: var(--li-shadow);
    border: var(--li-border);

    &.clickable {
      cursor: pointer;
      transition: transform .5s var(--cubik), filter .5s var(--cubik), box-shadow .5s var(--cubik);

      &:hover, &:focus {
        outline: none;
        box-shadow: none;
        transform: scale(1.02);
        filter: var(--li-hover-filter);
      }
    }

    h2 {
      margin: 0;
      text-align: center;
      padding: .5em;
      box-shadow: var(--title-shadow);
      background: var(--title-back);
    }

    dl {
      margin: 1em 0;
      padding: 1em 2em;
    }

    dt {
      font-weight: bold;
      font-size: 1.1em;
      margin: .2em 0;
      margin-top: .5em;
    }
    
    dd {
      padding: .2em .5em;
      border-radius: .5em;

      &.colored {
        text-align: center;
        background: hsl(var(--main-hs), var(--dd-colored-lighness));
        filter: var(--dd-colored-filter);
      }
    }
  }
}