@use '/src/mainColor' as *;

.light-mode {
  .form-input {
    --shadow-color: #{mainColor(85%)};
    --underline-color: #{mainColor(50%)};
    --error-shadow-color: hsl(0, 100%, 90%);
    --error-underline-color: hsl(0, 100%, 70%);
    --success-shadow-color: hsl(120, 30%, 80%);
    --success-underline-color: hsl(120, 50%, 40%);

    --input-back: #{mainColor(100%)};
    --group-back: #{mainColor(92%)};
    --color-scheme: light;
  }
}
.dark-mode {
  .form-input {
    --shadow-color: #{mainColor(30%)};
    --underline-color: #{mainColor(50%)};
    --error-shadow-color: hsl(0, 100%, 25%);
    --error-underline-color: hsl(0, 100%, 55%);
    --success-shadow-color: hsl(120, 90%, 15%);
    --success-underline-color: hsl(120, 100%, 20%);

    --input-back: #{mainColor(8%)};
    --group-back: #{mainColor(20%)};
    --color-scheme: dark;
  }
}

.form {  
  text-align: start;
  width: 20em;

  .required-msg {
    text-align: center;
  }

  .required-symbol {
    color: red;
  }

  .fade {
    width: 100%;

    > * {
      width: 100%;
    }
  }

}

.form-buttons {
  margin-right: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}  

.form-input-wrapper {
  display: flex;
  align-items: center;
  margin-top: .25em;
  margin-bottom: 1.5em;

  .toggle-btn {
    margin: 0 .5em;
  }
}

.form-input {
  font-size: 1em;
  width: 100%;
  display: flex;
  flex-direction: column;
  --scale-x: 0;
  box-shadow: inset 0 -2px 0 var(--shadow-color);
  transition: color .1s, box-shadow .1s;
  
  &:focus-within {
    --scale-x: 1;
  }

  &.success {
    --shadow-color: var(--success-shadow-color);
    --underline-color: var(--success-underline-color);
  }

  &.error {
    // color: var(--error-underline-color);
    --shadow-color: var(--error-shadow-color);
    --underline-color: var(--error-underline-color);
  }
    
  &.with-label {
    margin-inline-start: .5em;
  }  

  .underline {
    height: 2px;
    width: 100%;
    background-color: var(--underline-color);
    transform: scaleX(var(--scale-x));
    transform-origin: right;
    transition: transform .2s var(--cubik), background-color .1s;
  }

  // components

  @mixin reset-style {
    resize: none;
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 1em;
  }

  .line-input {
    @include reset-style();
    width: 100%;
    background: var(--input-back);
    padding: .25em .5em;
    border-radius: .25em .25em 0 0;
    
    &::-webkit-input-placeholder {
      font-size: .9em;
    }
  }

  .select-input {
    @include reset-style();
  }

  .box-input {
    @include reset-style();
    background: var(--input-back);
    color: var(--color);
    padding: .25em;
    padding-bottom: .5em;
  }
  
  .date-input {
    @include reset-style();
    color-scheme: var(--color-scheme);
    padding: .5em 0;
  }

  .input-group {
    padding: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: .5em;
    background-color: var(--group-back);
    color: var(--color);
    
    label {
      display: flex;
      flex-direction: column;
      
      span {
        margin: .25em 0;
      }
    }
  }
}