@use '/src/mainColor' as *;

.light-mode {
  .area-title {
    --color-back: hsla(var(--main-hs), 60%);
    --lessons-color: hsla(var(--main-hs), 65%);
  }
}
.dark-mode {
  .area-title {
    --color-back: hsla(var(--main-hs), 30%);
    --lessons-color: hsla(var(--main-hs), 40%);
  }
}

.area-title {
  margin: .5em 0 !important;
  padding: 0 1em !important;
  text-align: center;
  display: flex;
  align-items: center;
  white-space: nowrap;
  --main-hs: var(--main-hue), var(--main-satur);
  
  &.clickable {
    cursor: pointer;
    transition: transform .2s var(--cubik);

    &:hover, &:focus-visible {
      transform: scale(1.05);
    }  
  }

  .color {
    flex-shrink: 0;
    --size: 1em;
    height: var(--size);
    width: var(--size);
    border-radius: 50%;
    margin: 0 1em;
    background-color: var(--color-back);
  }

  .name {
    font-size: 1.2em;
    margin: .5em 0 !important;
  }
    

  .lessons-num {
    --main-hs: var(--main-hue), var(--main-satur);
    margin: 0 1em;
    font-size: 0.9em;
    color: var(--lessons-color);
  }

}
