@use '/src/mainColor' as *;

.light-mode {
  .btn-primary {
    --btn-back: #{mainColor(85%)};
    --btn-color: #{mainColor(20%)};
  }
}
.dark-mode {
  .btn-primary {
    --btn-back: #{mainColor(18%)};
    --btn-color: #{mainColor(95%)};
  }
}

.btn-primary {
  font-size: 1.2em;
  border-radius: 2em;
  padding: .5em 1em;
  color: var(--btn-color);
  background-color: var(--btn-back);
  transition: filter .2s;

  &:hover {
    filter: brightness(1.05);
  }
  &:active {
    filter: brightness(1.1);
  }
}