@use '/src/mainColor' as *;

.light-mode {
  .footer {
    --back: linear-gradient(0deg, #{mainColor(100%)}, #{mainColor(95%)});
    --color: #{mainColor(60%)};
  }
}
.dark-mode {
  .footer {
    --back: linear-gradient(0deg, #{mainColor(15%)}, #{mainColor(13%)});
    --color: #{mainColor(75%)};
  }
}

.footer-con {
  margin-top: auto;
  width: 100%;
}

.footer {
  margin-top: 1em;
  padding: 1em 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--back);
  
  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color);

    h3 {
      margin: .4em 0;
    }
    p {
      margin: .15em 0;
    }
  }
  
  .switch {
    margin-top: .75em;
    margin-bottom: .25em;
  }
}