@use '/src/mainColor' as *;

.light-mode {
  .react-input {
    --shadow-color: #{mainColor(85%)};
    --underline-color: #{mainColor(50%)};
    --error-underline-color: hsl(0, 100%, 70%);
    --error-shadow-color: hsl(0, 100%, 90%);
  }
}
.dark-mode {
  .react-input {
    --shadow-color: #{mainColor(30%)};
    --underline-color: #{mainColor(50%)};
    --error-underline-color: hsl(0, 100%, 40%);
    --error-shadow-color: hsl(0, 100%, 30%);
  }
}

.react-input {
  font-size: 1em;
  width: 10em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  --scale-x: 0;
  
  &:focus-within {
    --scale-x: 1;
  }
  
  &.error {
    position: relative;
    --shadow-color: var(--error-shadow-color);
    --underline-color: var(--error-underline-color);
  }
    
  &.with-label {
    margin-inline-start: 1em;
  }  

  input {
    width: 100%;
    font-size: 1em;
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    color: inherit;
    box-shadow: 0 2px 0 var(--shadow-color);
    
    &::-webkit-input-placeholder {
      font-size: .9em;
    }
  }

  .underline {
    height: 2px;
    width: 100%;
    background-color: var(--underline-color);
    transform: scaleX(var(--scale-x));
    transform-origin: right;
    transition: transform .2s var(--cubik);
  }
}