@use '/src/mainColor' as *;

.light-mode {
  .picker-options {
    --option-back: #{mainColor(85%)};
    --img-filter: var(--light-img-filter) brightness(150%);
  }
}
.dark-mode {
  .picker-options {
    --option-back: #{mainColor(18%)};
    --img-filter: brightness(0%) invert(1);
  }
}

.picker-options {
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .option {
    cursor: pointer;
    user-select: none;
    padding: .25em .5em;
    padding-left: .75em;
    margin: .5em;
    border-radius: 1em;  
    background-color: var(--option-back);
    transition: filter .2s;

    &:hover {
      filter: brightness(1.05);
    }
    &:active {
      filter: brightness(1.1);
    }

    img {
      height: 1.5em;
      // margin-left: .25em;
      filter: var(--img-filter);
    }

    span {
      margin-right: .25em;
    }
  }
}