@use '/src/mainColor' as *;

.light-mode {
  .pin-field {
    --back: #{mainColor(100%)};
    --border-color: #{mainColor(85%)};
    --border-color-focus: #686de0;
    --border-color-complete: #6ab04c;
    --border-color-reject: #dc3545;

  }
}
.dark-mode {
  .pin-field {
    --back: #{mainColor(20%)};
    --border-color: #{mainColor(30%)};
    --border-color-focus: #686de0;
    --border-color-complete: #6ab04c;
    --border-color-reject: #dc3545;

  }
}

.pin-field-con {
  direction: ltr;
  display: flex;
  overflow: auto;
  padding: 1em 0;
}

.pin-field {
  color: inherit;
  background: var(--back);
  border: 1px solid var(--border-color);
  font-size: 2rem;
  height: 4rem;
  outline: none;
  text-align: center;
  transition-duration: 250ms;
  transition-property: color, border, box-shadow, transform;
  width: 4rem;
  border-radius: .25em;
  margin: .1em;

  &:focus {
    border-color: var(--border-color-focus);
    box-shadow: 0 0 0.25rem var(--border-color-focus);
    outline: none;
  }

  &:invalid {
    animation: shake 5 linear 75ms;
    border-color: var(--border-color-reject);
    box-shadow: 0 0 0.25rem var(--border-color-reject);
  }

  &.complete {
    border-color: var(--border-color-complete);
    color: var(--border-color-complete);

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
  }
}

@keyframes shake {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(5%);
  }
}