@use '/src/mainColor' as *;
@use '/src/mediaQuery' as *;

.light-mode {
  .nav {
    --btn-img-filter: var(--light-img-filter);
    --ripple-back: #{mainColor(50%)};
  }
}
.dark-mode {
  .nav {
    --btn-img-filter: brightness(0) invert(.7);
    --ripple-back: #{mainColor(50%)};
  }
}

.nav {
  margin: 0 1em;
  max-width: 100%;
  z-index: 1;
  height: var(--headerHeight);
  text-align: center;

  @include for-phone {
    .nav-link {
      min-width: 6em;
    }
    // hide tooltips 
    .nav-link::after {
      display: none !important;
    }
  }

  // show tooltips
  @include for-not-phone {
    &.MuiTabs-root {
      overflow: visible !important;
    }  
    .MuiTabs-scroller {
      overflow: visible !important;
    }  
    .MuiTabs-flexContainer {
      overflow: visible !important;
    }  
  }

  .nav-link {
    color: inherit;
    font-weight: bold;
    font-family: inherit;
    height: 100%;
    border-radius: 1em 1em 0 0;
    --img-scale: 1;
    --active-filter: contrast(1);

    &:hover, &:focus-visible {
      --img-scale: 1.1;
    }  
    
    &.Mui-selected {
      color: inherit;
      --img-scale: 1.2 !important;
      --active-filter: contrast(4);
    }

    img {
      filter: var(--btn-img-filter) var(--active-filter);
      height: 2em;
      width: 2em;
      transition: transform .2s var(--cubik), filter .2s;
      transform: scale(var(--img-scale));
    }
  } 

  .MuiTabs-flexContainer {
    height: 100%;
  }

  .MuiTabs-indicator {
    filter: var(--btn-img-filter) contrast(4);
  }
  
  .MuiTouchRipple-child {
    background-color: var(--ripple-back) !important;
  }

  .hidden {
    min-width: 0;
    padding: 0;
  }
}