@use '/src/mainColor' as *;

.light-mode {
  .pie-con {
    --green: hsl(120, 40%, 80%);
    --yellow: hsl(60, 70%, 80%);
    --red: hsl(0, 70%, 85%);
    --pie-title-color: #{mainColor(15%, .8)};
    --dd-color: rgba(0, 0, 0, 0.8);
  }
}
.dark-mode {
  .pie-con {
    --green: hsl(120, 11%, 53%);
    --yellow: hsl(66, 22%, 53%);
    --red:  hsl(0, 15%, 44%);
    --dd-color: rgba(255, 255, 255, 0.8);
  }
}

.pie-con {
  text-align: center;
  width: 18em;
  max-width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .pie {
    overflow: visible;
    height: 12em;
  }

  .pie-title {
    color: var(--pie-title-color);
    font-weight: normal;
    margin: .5em 0;
  }

  .pie-info {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    column-gap: 1em;

    dd {
      color: var(--dd-color);
      border-radius: .5em;
      margin: 0;
      padding: .25em 1em;
      background: var(--color);
    }
  }
}
